## JdeRobot
# Interfaces
src/stable/interfaces/cpp/
src/stable/interfaces/python/
src/stable/interfaces/java/


## Build
# CMake
CMakeCache.txt
CMakeFiles/
*.cmake
*.a
*.so
*.cxx
*.cxx_parameters
lib*.so.*
Makefile

